/***
Ivan Chernoknizhnikov
Pure JS Modal Gallery
Telegram @treamz
***/

* {
	margin: 0;
}
#evans_modal {
	position: fixed;
	top: 0;
	background: rgba(0,0,0,.5);
	width: 100%;
	padding-top: 100px;
	height: 100%;
	transition: all .4s;
	
}
.evans_modal {
	opacity: 0;
	z-index: -1;
	
	display: block;
	visibility: hidden;
}
.evans_modal_content {

	display: block;
	
	margin: auto;
}

.evans_modal_content img {
	
display: block;

	margin: 0 auto;
}

#emodal {
	display: inline-block;
}

.active_modal {

	opacity: 1;
	z-index: 1;
	visibility: visible;
}
.evans_modal_content{
    transition: all .4s;
	transform: scale(0);
}
.active_modal .evans_modal_content{
	transition: all .4s;
	transform: scale(1);
}